body{
	margin: 0;
	padding: 0;
}
#background {
  background-image: url(images/wp.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#bande {
  	background: #c8ffa4;
  	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
  	margin-bottom: 1%;
  	padding: 1em 2em;
}

#twitter {
  cursor: pointer;
}

#facebook {
  cursor: pointer;
}

#insta {
  cursor: pointer;
}

#youtube {
  cursor: pointer;
}

#titre1 {
  font-family: "Cream";
}

#presentation {
  border-radius: 5%;
  box-shadow: 2px 10px 15px black;
  background: rgb(250,255,248);
background: linear-gradient(180deg, 
			rgba(250,255,248,0.9148418491484185) 0%, 
			rgba(153,224,156,1) 100%);
  margin-right: 15%;
  margin-left: 15%;
  padding-top: 2%;
  padding-bottom: auto;
  margin-bottom: 0;
}

#onglet {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#p1 {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 3px 3px 8px black;
  border: 1px solid black;
  font-size: 1.3em;
  font-style: italic;
  padding: 1%;
  cursor: pointer;
  transition: all ease 0.3s;
}

#p1:hover {
  background-color: #b4c2b3;
  transform: scale(0.98);
  box-shadow: 2px 2px 4px black;
}

#p2 {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 3px 3px 8px black;
  border: 1px solid black;
  font-size: 1.3em;
  font-style: italic;
  padding: 1%;
  cursor: pointer;
  transition: all ease 0.3s;
}

#p2:hover {
  background-color: #b4c2b3;
  transform: scale(0.98);
  box-shadow: 2px 2px 4px black;
}

#zonetexte {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.titre {
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: "Cream";
  text-align: center;
  font-style: italic;
  font-size: 1.7em;
}

.composition {
  margin-left: 5%;
  margin-right: 5%;
}

h2{
	font-size: 1.3em;
}

#etape{
	border-top: 1px solid black;
}

#pomme {
	float: left;
}

#fraise {
	float: right;
}

#anas{
	float: left;
}

#mure {
	float: right;
}
#poire{
	float: left;
}

#peche {
	float: right;
}

#passion{
	float: left;
}

#mangue {
	float: right;
}

#sangrine{
	float: left;
}

#arine {
	float: right;
}

#cassis{
	float: left;
}

#girl {
	float: right;
}

#abricot{
	float: left;
}

#pample {
	float: right;
}

#orange{
	float: left;
}

#framb {
	float: right;
}

p {
	margin-right: 1%;
	margin-left: 1%;
}

@font-face {
  font-family: "Cream";
  src: url(Cream.ttf);
}

a {
  text-decoration: none;
  color: black;
}